/* app css stylesheet */
html {
    min-height: 100%; 
    position: relative;
}

body {
    font-family: 'Open Sans' !important;
    padding-bottom:30px;   /* Height of the footer */
}

#searchmap {
    height: 600px;
    height: -webkit-calc(100vh - 52px - 30px);  
    height: -moz-calc(100vh - 52px - 30px);  
    height: calc(100vh - 52px - 30px);  /*window height minus height of navbar and footer */
}

#coverageEditorMap {
    height: 260px; 
    height: -webkit-calc(70vh);
    height: -moz-calc(70vh);
    height: calc(70vh);
    border-radius: 5px;
    z-index: 0;
}

#instanceCreateMap {
    border: 1px solid #CCC;
    border-radius: 4px;
    z-index: 0;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #305B80;
}

footer .navbar-text, footer a {
    padding: 5px 15px !important; 
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.navbar-brand {
    color: #eee !important;
    font-size: x-large;
}

.brand-sub {
    color: #aaa !important;
    font-size: large;
}

.main-container {
    /*background-color: #fff;*/
}

.main-container:before {
    display: block;
    content: "";
    position: absolute;
    z-index: -2;
    width: 100%;
    max-width: inherit;
    bottom: 0;
    top: 0;
    background-color: #FFF;
}

.main-content {
    //    z-index: -2;
    margin-left: 190px;
    min-height: 100%;
    padding: 0;
}

.sidebar {
    background-color: #222a2d;
    width: 190px;
    /*height: 100%;*/
    float: left;
    position: static;
    /*position: absolute;*/
    padding-left: 0;
    padding-right: 0;
}

.sidebar:before{
    content:"";
    display:block;
    width:inherit;
    position:absolute;
    top:0;
    bottom:0;
    z-index: -1;
    background-color:inherit;
    border-style:inherit;
    border-color:inherit;
    border-width:inherit
}

.navbar {
    background: #2c6aa0;
    border-color: #595F2B;
}

.navbar .navbar-nav>li>a {
    color: #fff;
}

.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li>a:focus, .navbar .navbar-nav>li.open>a {
    background-color: rgba(0,0,0,0.1) !important;
    color: #fff !important;
}

.navbar .navbar-nav > li:first-child {
    border-width: 0 1px 0 1px;
}

.navbar .navbar-nav > li {
    border: 1px solid darkslategray;
    border-width: 0 1px 0 0;
}

.input-group i{
    color: rgba(0,0,0,0.5);
    width: 16px;
}

.panel {
    margin-top: 10px;
    margin-bottom: 10px;
}