<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 copyright">
                <span class="navbar-text">&copy; 2013 - 2015</span>
            </div>
            <div class="col-xs-9 content">
                <span class="navbar-text">{{mcpInfo.isInitialised ? 'Version ' + mcpInfo.version : 'Developer Version under construction'}}{{mcpInfo.build.isInitialised ? '-'+mcpInfo.build.number: ''}}</span>
                <div class="nav">
                    <div class="navbar-inner">
                        <ul class="nav navbar-nav navtabs pull-right">
                            <li><a href="content.html#disclaimer">Disclaimer</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="content.html#cookies">Cookies</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
