<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-container">

        <!-- Responsive Navbar for angular-ui explained here: https://github.com/angular-ui/bootstrap/issues/1672 -->

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/" id="brand">MaritimeCloud<span class="brand-sub">Portal</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" data-collapse="isCollapsed">

            <!--  navigation bar left (admin) --> 
            <!--ul ng-if="isAuthorized(userRoles.user)" class="nav navbar-nav navbar-left" >
                <li><a href="#/users"> <i class="fa fa-user" style="vertical-align: middle; margin-bottom: 4px"></i> Users </a></li>
                <li><a href="#/log"> <i class="fa fa-fire" style="vertical-align: middle; margin-bottom: 4px"></i> Log </a></li>
            </ul-->

            <ul class="nav navbar-nav navbar-left" ng-if="isAuthorized([userRoles.user, userRoles.admin])" >

                <!-- DASHBOARD CONTEXT SWITCH -->
                <li class="dropdown" ng-controller="DashboardContextController">
                    <!-- title -->
                    <a ng-if='hasOrganizations()' class="dropdown-toggle" href="#/orgs">
                        <i class="menu-icon fa fa-user" ng-if="isCurrentContext(null)"></i>
                        <i class="menu-icon fa fa-university" ng-if="!isCurrentContext(null)"></i>
                        <span class="menu-text"> {{currentOrganization.name|| currentUser.name}}</span>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul ng-if='hasOrganizations()' class="dropdown-menu" >
                        <li class="menu-item-lead"> Switch dashboard context: </li>
                        <!-- ITEM: Current USER -->
                        <li>
                            <a ui-sref="restricted.dashboard" ng-click="setUserAsDashboardContext()">
                                <span class="menu-item-check" ng-class="{'selected' : isCurrentContext(null)}">&#x2713;</span>
                                <i class="menu-icon fa fa-user"></i> {{currentUser.name}}
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <!-- ITEM: Users ORGANIZATIONS -->
                        <li ng-repeat="membership in organizationMemberships| orderBy:orderProp">

                            <a href="#/orgs/{{organizationRef(membership.organization)}}" ng-click="setDashboardContext(membership.organization)">
                                <span class="menu-item-check" ng-class="{'selected' : isCurrentContext(membership.organization)}">&#x2713;</span>
                                <i class="menu-icon fa fa-university"></i> {{membership.organization.name}}
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#/orgs">
                                <i class="menu-icon fa fa-gears"></i> Manage organizations
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

            </ul>

            <!--  navigation bar right --> 
            <ul class="nav navbar-nav navbar-right" ng-controller="DashboardContextController">

                <!-- About -->
                <!--li class="dropdown">
                    <a class="dropdown-toggle" href="#">About
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul style="width: 70px;" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li><a tabindex="-1" href="content.html#cookies">Cookies</a></li>
                        <li><a tabindex="-1" href="content.html#disclaimer">Disclaimer</a></li>
                    </ul>
                </li-->

                <!-- User -->
                <li ng-if="currentUser" class="dropdown open">
                    <a class='dropdown-toggle' href='#'>
                        <i class='fa fa-gears' style='vertical-align: middle; margin-bottom: 4px'></i> {{isCurrentContext(null) && hasOrganizations() ? "" : currentUser.name}} 
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-cog"></i> Settings </a></li>
                        <li><a data-ui-sref="restricted.userProfile({username : currentUser.name})"><i class="fa fa-user"></i> Profile </a></li>
                        <li ng-if="!hasOrganizations()"class="divider"></li>
                        <li ng-if="!hasOrganizations()"><a href="#/orgs/new"><i class="menu-icon fa fa-plus"></i> Create organization</a><b class="arrow"></b></li>
                        <li class="divider"></li>
                        <li><a href="#" ng-click="logout($event)"><i class="fa fa-power-off"></i> Logout </a></li>
                    </ul>
                </li>

                <!-- Login & Join -->
                <li ng-if="!currentUser">
                    <a class="btn-success" href="#/join" id="menuJoin">Join</a>
                </li>
                <li ng-if="!currentUser">
                    <a class="btn-primary" href="#/dashboard" id="menuLogin">Log In</a>
                </li>
                <!-- Logout -->
                <li ng-if="currentUser">
                    <a class="btn-grey" href="" ng-click="logout()" id="menuLogout">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
