
<div class="main-container" id="main-container">

    <div x-ng-include="'layout/sidebar.html'"></div>
    <div ng-class="sidebar.isMinified ? 'main-content max-content' : 'main-content'">
        <div class="page-content">
            <div class="row">
                <!-- PAGE CONTENT BEGINS -->
                <div class="mcp-content" ui-view></div><!-- /.col -->
                <!-- PAGE CONTENT ENDS -->
            </div>
        </div>
    </div>
    <div x-ng-include="'layout/footer.html'"></div>

</div>