<div id="sidebar" ng-class="sidebar.isMinified ? 'sidebar responsive menu-min' : 'sidebar responsive'" ng-controller="SidebarController" >

    <ul class="nav nav-list" ng-controller="OrganizationMenuController" >

        <li class="">
            <a href="#dashboard">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard </span>
            </a>

            <b class="arrow"></b>
        </li>

        <!-- SEARCH SERVICES --> 
        <li>
            <a href="#search/service/map" class="dropdown-toggle">
                <i class="menu-icon fa fa-search"></i>
                <span class="menu-text"> Find Services </span>
            </a>
        </li>            

        <!-- CURRENT ORGANIZATION MENU --> 
            
        <li ng-if="currentOrganization" class="hover" >
            <a href="#/orgs/{{currentOrganization.name}}" class="dropdown-toggle">
                <i class="menu-icon fa fa-wifi"></i>
                <span class="menu-text"> Services </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu" >
                <li class="hover"><a href="#/orgs/{{currentOrganization.name}}"> <i class="menu-icon fa fa-user" style=""></i> Show </a></li>
                <li class="hover"><a href="#/orgs/{{currentOrganization.name}}/createServiceInstance"> <i class="menu-icon fa fa-fire" style=""></i> Add </a></li>
            </ul>
        </li>            
        <!--FIXME: introduce specification stuff  -->
        <!--li ng-if="currentOrganization" class="hover" ng-controller="OrganizationMenuController" >
            <a href="#/orgs/{{currentOrganization.name}}" class="dropdown-toggle">
                <i class="menu-icon fa fa-cogs"></i>
                <span class="menu-text"> Specifications </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu" >
                <li class="hover"><a href="#/orgs/{{currentOrganization.name}}"> <i class="menu-icon fa fa-user" style=""></i> Show </a></li>
                <li class="hover"><a href="#/orgs/{{currentOrganization.name}}/createServiceInstance"> <i class="menu-icon fa fa-fire" style=""></i> Add </a></li>
            </ul>
        </li-->            
        <!--FIXME: introduce identity and certificate stuff  -->
        <!--li ng-if="currentOrganization" class="hover" ng-controller="OrganizationMenuController"  >
            <a href="#/orgs/{{currentOrganization.name}}" class="dropdown-toggle">
                <i class="menu-icon fa fa-certificate"></i>
                <span class="menu-text"> Certificates </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu" >
                <li class="hover"><a href="#/orgs/{{currentOrganization.name}}"> <i class="menu-icon fa fa-user" style=""></i> Show </a></li>
                <li class="hover"><a href="#/orgs/{{currentOrganization.name}}/createServiceInstance"> <i class="menu-icon fa fa-fire" style=""></i> Add </a></li>
            </ul>
        </li-->            

        <!-- ADMINISTRATION --> 
        <li ng-if="isAuthorized(userRoles.admin)" class="hover" >
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text"> Administration </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu" >
                <li class="hover"><a href="#/users"> <i class="menu-icon fa fa-user" style=""></i> Users </a></li>
                <li class="hover"><a href="#/log"> <i class="menu-icon fa fa-fire" style=""></i> Log </a></li>
            </ul>
        </li>

    </ul><!-- /.nav-list -->



    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle" id="sidebar-collapse" ng-click="sidebar.isMinified = !sidebar.isMinified">
        <i class="fa" ng-class='{"fa-angle-double-right" : sidebar.isMinified, "fa-angle-double-left" : !sidebar.isMinified}' ></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
    <!--    <script type="text/javascript">
            try {
                ace.settings.check('sidebar', 'collapsed')
            } catch (e) {
            }
        </script>-->
</div>

