<div id="sidebar" ng-class="sidebar.isMinified ? 'sidebar responsive menu-min' : 'sidebar responsive'" ng-controller="SidebarController" >

    <accordion close-others="true">

        <ul class="nav nav-list" >
            <li><a ui-sref="restricted.dashboard"><i class="fa fa-tachometer"></i> Dashboard </a></li>
        </ul>        

        <!----------------------------------------------------->
        <!-- SEARCH SERVICES --> 
        <!----------------------------------------------------->
        <accordion-group is-open="isOpen.findService">
            <accordion-heading>
                <a ui-sref="restricted.searchServiceMap"><i class="fa fa-search"></i> Find Service
                    <i class="pull-right fa" ng-class="{'fa-angle-down': isOpen.findService, 'fa-angle-right': !isOpen.findService}"></i>
                </a>
            </accordion-heading>

            <div class="form-group">
                <label for="operationalService">Location</label>
                <div class="location-filter">
                    <img style="vertical-align: sub;" src="../../ext/bower/leaflet/dist/images/marker-icon.png" height="16"/> 
                    <span ng-if="!filter.location"
                          popover="Click on a location on the map to see services provided in that area" popover-trigger="mouseenter" popover-placement="right">
                        <i>no location selected</i>
                    </span>
                    <span ng-if="filter.location">
                        {{filter.location| latlng2dms:'lat lng':"d2 M23i":"d3 M23i"}}
                        <button ng-disabled="!filter.location" class="btn btn-danger btn-xs closex" ng-click="filter.location = null"
                                popover="Clear location marker" popover-trigger="mouseenter" popover-placement="top">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </span>

                </div>            
            </div>            

            <div class="form-group">
                <label for="operationalService">Operational Service</label>
                <select class='form-control input-sm' id='operationalService'
                        ng-model="filter.operationalService" ng-options="operationalService.name for operationalService in operationalServices"
                        ng-change="setFilterByOperationalService(filter.operationalService)"
                        popover="Filter by operational service" popover-trigger="mouseenter" popover-placement="right" mcp-focus-me>
                    <option value="">All</option>
                </select>
            </div>

            <div class="form-group" Xng-if="specifications">
                <label for="specification">Service Specification</label>
                <select class='form-control input-sm' id='specification' 
                        ng-disabled="!specifications"
                        ng-model="filter.serviceSpecification" 
                        ng-options="specification.name+' ('+specification.serviceType+')' group by specification.ownerName for specification in specifications"
                        popover="Filter by service specification" popover-trigger="mouseenter" popover-placement="right">
                    <option value="">All</option>
                </select>
            </div>

            <!--div class="form-group">
                <label for="provider">Provider</label>
                <select class='form-control input-sm' id='provider' 
                        ng-model="filter.selectedProvider" ng-options="provider.title+' ('+provider.name+')' for provider in organizations"
                        ng-change="setFilterByProvider(filter.selectedProvider)"
                        popover="Filter by service provider" popover-trigger="mouseenter" popover-placement="right">
                    <option value="">All</option>
                </select>
            </div-->

            <div class="form-group">
                <label class="control-label">Provider</label>
                <div class="input-group" popover="Select a provider to filter by" popover-trigger="mouseenter" popover-placement="right">

                    <ui-select ng-model="filter.provider" theme="bootstrap">
                        <ui-select-match placeholder="provider">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="provider in organizations | filter: $select.search ">
                            <span ng-bind-html="provider.name | highlight: $select.search"></span>
                            <small>(</small><small ng-bind-html="provider.organizationId | highlight: $select.search"></small><small>)</small>
                        </ui-select-choices>
                    </ui-select>

                    <span class="input-group-btn">
                        <button ng-click="filter.provider = null;" class="btn btn-default">
                            <span class="fa fa-trash-o"></span>
                        </button>
                    </span>

                </div>
            </div>

            <div class="form-group">
                <label for="serviceType">Service type</label>
                <select class='form-control input-sm' id='serviceType' 
                        ng-model="filter.serviceType" ng-options="value for (key, value) in serviceTypes"
                        popover="Filter by service type" popover-trigger="mouseenter" popover-placement="right">
                    <option value="">All</option>
                </select>
            </div>

            <div class="form-group form-group-sm">
                <label for="anyText">Any text</label>
                <input type="text" class="form-control input-sm" id="anyText" placeholder="Searchtext" 
                       ng-model="filter.anyText"
                       popover="Enter a search phrase to look for in the services" popover-trigger="mouseenter" popover-placement="right">
            </div>

            <div style="padding-top: 8px;">
                <small>Count: {{data.result.length}}</small>
                <button id="mapFilterResetAll" ng-disabled="!isDirty()" class="pull-right btn btn-danger btn-xs" ng-click="clearFilter();"
                        popover="Restore all filter settings" popover-trigger="mouseenter" popover-placement="right"
                        >Reset <i class="fa fa-trash-o"></i></button>
            </div>
            <p></p>

        </accordion-group>

        <!----------------------------------------------------->
        <!-- CURRENT ORGANIZATION MENU --> 
        <!----------------------------------------------------->
        <div ng-controller="OrganizationMenuController" >

            <accordion-group ng-if="currentOrganization" is-open="isOpen.organization">
                <accordion-heading>
                    <a><i class="fa fa-university"></i> Organization 
                        <i class="pull-right fa" ng-class="{'fa-angle-down': isOpen.organization, 'fa-angle-right': !isOpen.organization}"></i>
                    </a>
                </accordion-heading>
                <accordion close-others="true">
                    <accordion-group is-open="isOpen.organizationSub">
                        <accordion-heading>
                            <a ui-sref="restricted.organizationDetails({organizationId:currentOrganization.organizationId})"><i class="fa fa-wifi"></i> Services
                                <i class="pull-right fa" ng-class="{'fa-angle-down': isOpen.organizationSub, 'fa-angle-right': !isOpen.organizationSub}"></i>
                            </a>
                        </accordion-heading>
                        <ul class="nav nav-list" ng-if="isAuthorized(userRoles.admin)">
                            <!--<li><a href="#/orgs/{{currentOrganization.organizationId}}"> <i class="fa fa-user" style=""></i> Show </a></li>-->
                            <li><a ui-sref="restricted.serviceInstanceCreate({organizationId:currentOrganization.organizationId})"> 
                                    <i class="fa fa-plus" style=""></i> Add </a></li>
                        </ul>
                    </accordion-group>
                </accordion>
            </accordion-group>

            <!--FIXME: introduce specification stuff  -->
            <!--li ng-if="currentOrganization" class="hover" ng-controller="OrganizationMenuController" >
                <a href="#/orgs/{{currentOrganization.organizationId}}" class="dropdown-toggle">
                    <i class="menu-icon fa fa-cogs"></i>
                    <span class="menu-text"> Specifications </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu" >
                    <li class="hover"><a href="#/orgs/{{currentOrganization.organizationId}}"> <i class="menu-icon fa fa-user" style=""></i> Show </a></li>
                    <li class="hover"><a href="#/orgs/{{currentOrganization.organizationId}}/createServiceInstance"> <i class="menu-icon fa fa-fire" style=""></i> Add </a></li>
                </ul>
            </li-->            
            <!--FIXME: introduce identity and certificate stuff  -->
            <!--li ng-if="currentOrganization" class="hover" ng-controller="OrganizationMenuController"  >
                <a href="#/orgs/{{currentOrganization.organizationId}}" class="dropdown-toggle">
                    <i class="menu-icon fa fa-certificate"></i>
                    <span class="menu-text"> Certificates </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu" >
                    <li class="hover"><a href="#/orgs/{{currentOrganization.organizationId}}"> <i class="menu-icon fa fa-user" style=""></i> Show </a></li>
                    <li class="hover"><a href="#/orgs/{{currentOrganization.organizationId}}/createServiceInstance"> <i class="menu-icon fa fa-fire" style=""></i> Add </a></li>
                </ul>
            </li-->            
        </div>

        <!----------------------------------------------------->
        <!-- ADMINISTRATION --> 
        <!----------------------------------------------------->
        <accordion-group ng-if="isAuthorized(userRoles.admin)" is-open="isOpen.administration">
            <accordion-heading>
                <a><i class="fa fa-desktop"></i> Administration 
                    <i class="pull-right fa" ng-class="{'fa-angle-down': isOpen.administration, 'fa-angle-right': !isOpen.administration}"></i>
                </a>
            </accordion-heading>
            <ul class="nav nav-list">
                <li><a href="#/users"> <i class="menu-icon fa fa-users" style=""></i> Users </a></li>
                <!--<li><a href="#/log"> <i class="menu-icon fa fa-fire" style=""></i> Log </a></li>-->
            </ul>
        </accordion-group>

        <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
            {{group.content}}
        </accordion-group>

    </accordion>

    <!--    <ul class="nav nav-list" ng-controller="OrganizationMenuController" >
    
            <li class="">
                <a href="#dashboard">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> Dashboard </span>
                </a>
    
                <b class="arrow"></b>
            </li>
    
             SEARCH SERVICES  
            <li>
                <a href="#search/service/map" class="dropdown-toggle">
                    <i class="menu-icon fa fa-search"></i>
                    <span class="menu-text"> Find Service </span>
                </a>
            </li>            
    
             CURRENT ORGANIZATION MENU  
    
            <li ng-if="currentOrganization" class="hover" >
                <a href="#/orgs/{{currentOrganization.organizationId}}" class="dropdown-toggle">
                    <i class="menu-icon fa fa-wifi"></i>
                    <span class="menu-text"> Services </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu" >
                    <li class="hover"><a href="#/orgs/{{currentOrganization.organizationId}}"> <i class="menu-icon fa fa-user" style=""></i> Show </a></li>
                    <li class="hover"><a href="#/orgs/{{currentOrganization.organizationId}}/createServiceInstance"> <i class="menu-icon fa fa-fire" style=""></i> Add </a></li>
                </ul>
            </li>            
    
             ADMINISTRATION  
            <li ng-if="isAuthorized(userRoles.admin)" class="hover" >
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-desktop"></i>
                    <span class="menu-text"> Administration </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu" >
                    <li class="hover"><a href="#/users"> <i class="menu-icon fa fa-user" style=""></i> Users </a></li>
                    <li class="hover"><a href="#/log"> <i class="menu-icon fa fa-fire" style=""></i> Log </a></li>
                </ul>
            </li>
    
        </ul> /.nav-list -->

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle" id="sidebar-collapse" ng-click="sidebar.isMinified = !sidebar.isMinified">
        <i class="fa" ng-class='{"fa-angle-double-right" : sidebar.isMinified, "fa-angle-double-left" : !sidebar.isMinified}' ></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
    <!--    <script type="text/javascript">
            try {
                ace.settings.check('sidebar', 'collapsed')
            } catch (e) {
            }
        </script>-->

</div>

