<div class="">
    <h1>Style Guide</h1>
    <hr>

    <h2>Panels</h2>
    <div class="row" >
        <div class="col-sm-1">column 1</div>
        <div class="col-sm-1">column 2</div>
        <div class="col-sm-1">column 3</div>
        <div class="col-sm-1">column 4</div>
        <div class="col-sm-1">column 5</div>
        <div class="col-sm-1">column 6</div>
        <div class="col-sm-1">column 7</div>
        <div class="col-sm-1">column 8</div>
        <div class="col-sm-1">column 9</div>
        <div class="col-sm-1">column 0</div>
        <div class="col-sm-1">column 1</div>
        <div class="col-sm-1">column 2</div>
    </div>

    <div class="row" >

        <div class="col-sm-1">col 1</div>

        <panel title="Default Panel">
            This is a default panel<br>
            <br>
            It uses the following default values:
            <ul>
                <li>panel-class: "col-sm-6"</li>
                <li>panel-icon:  "fa-info blue"</li>
            </ul>
            <buttons>
                <btn ui-sref="restricted.dashboard">Close</btn>
            </buttons>
        </panel>

        <div class="col-sm-1"></div>

        <panel panel-class="col-sm-3" title="Customized Panel" panel-icon="fa-user red">
            This is a customized panel<br>
            <br>
            It <b>overrides</b> the following values:
            <ul>
                <li>panel-class: "col-sm-3"</li>
                <li>panel-icon:  "fa-user red"</li>
            </ul>
            <buttons>
                <btn ng-click="alert('test');">Close</btn>
            </buttons>
        </panel>
    </div>

    <div class="row" >

        <div class="col-sm-3">col 3</div>

        <panel title="Another Default Panel">
            This is a default panel but with customized buttons<br>
            <br>
            It uses the following default values:
            <ul>
                <li>panel-class: "col-sm-6"</li>
                <li>panel-icon:  "fa-info blue"</li>
            </ul>
            <buttons>
                <btn class="btn-danger" onclick="alert('Now you are alerted!');" >Alert</btn>
                <btn ui-sref="restricted.dashboard" >Go to dashboard</btn>
            </buttons>
        </panel>
    </div>

    <hr>


</div>