<div class="">
    <h1>Style Guide</h1>

    <hr>
    <h1>Headings</h1>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <h1>h1. Maritime Cloud Portal heading</h1>
            <h2>h2. Maritime Cloud Portal heading</h2>
            <h3>h3. Maritime Cloud Portal heading</h3>
            <h4>h4. Maritime Cloud Portal heading</h4>
            <h5>h5. Maritime Cloud Portal heading</h5>
            <h6>h6. Maritime Cloud Portal heading</h6>    
        </div>
    </div>

    <hr>
    <h2>Panels</h2>
    <div class="row" >
        <div class="col-sm-1">column 1</div>
        <div class="col-sm-1">column 2</div>
        <div class="col-sm-1">column 3</div>
        <div class="col-sm-1">column 4</div>
        <div class="col-sm-1">column 5</div>
        <div class="col-sm-1">column 6</div>
        <div class="col-sm-1">column 7</div>
        <div class="col-sm-1">column 8</div>
        <div class="col-sm-1">column 9</div>
        <div class="col-sm-1">column 0</div>
        <div class="col-sm-1">column 1</div>
        <div class="col-sm-1">column 2</div>
    </div>

    <div class="row" >
        <div class="col-sm-1"></div>

        <panel title="Default Panel based on the panel-directive">
            <p>
                The panel element has a title-section with a title and a icon, a body-section and a footer-section with buttons. The buttons 
                are added as 'panel-button'-elements.
            </p>
            <p>
                The panel element has the following customizable attributes:<br>
            </p>
            Mandatory:
            <ul>
                <li><b>title</b>: sets the panel title</li>
            </ul>
            Optional:
            <ul>
                <li><b>category</b>: shorthand for choosing the bootstrap contextual state class (panel-type). Defaults to "default" which yield 
                    the class panel-default. See bootstrap. Valid values are "default, primary, success, info, warning, danger"</li>
                <li><b>title-color</b>:</li>
                <li><b>title-size</b>: sets the font size of the title in pixels</li>
                <li><b>col</b>: shorthand of setting the class col-sm-X where X is a number from 1-12. Defaults to 6</li>
                <li><b>offset</b>: shorthand of col-sm-offset-X</li>
                <li><b>icon</b>: shorthand of setting a fontawesome icon (omit the 'fa-' prefix). Specify "none" to suppres the icon completely. Defaults to 'info-circle' </li>
                <li><b>icon-class</b>: Overrides the icon-class with a class of your own choise. E.g. 'glyphicon glyphicon-search'</li>
            </ul>

            <br>
            This is a default panel. It uses the following default values:
            <ul>
                <li>category: "default"</li>
                <li>col: "6" (adds the class "col-sm-6")</li>
                <li>icon:  "info-circle"</li>
            </ul>

            <br>
            Try and type: (Input bound to model='test'. WILL BREAK LINK TO OUTSIDE MODEL!):<br>
            <input ng-model="test"  type='text'>
            <br>
            This is the body part with resolved stuff like {{currentUser.name + ' ' + test}} as you may type in the field above.
            <panel-button ui-sref="restricted.dashboard">Close</panel-button>
        </panel>

        <panel title="Customized Panel" category="primary" icon="user" offset="1" col="3">
            This is a customized panel<br>
            <br>
            It <b>overrides</b> the following values:
            <ul>
                <li>col: "3"</li>
                <li>offset: "1" (adds the class "col-sm-offset-1")</li>
                <li>icon:  "user"</li>
            </ul>
            <panel-button ng-click="alert('test');">Close</panel-button>
        </panel>
    </div>

    <div class="row" >
        <div class="col-sm-offset-1 col-sm-6">
            <br>
            Input bound to model='test':<br>
            <input ng-model="test"  type='text'> TEST = {{test}}
            <br>
            <br>
        </div>
    </div>



    <div class="row" >

        <div class="col-sm-1"></div>

        <panel title="Another Panel with BIG, GREEN title" icon="none" title-color="green" title-size="24">
            This is another panel but without a title icon and with customized buttons<br>
            <br>
            It <b>overrides</b> the following values:
            <ul>
                <li>icon:  "none"</li>
            </ul>
            The panel-buttons has the following values:
            <ul>
                <li>btn-type: "danger"</li>
                <li>btn-type: "success"</li>
            </ul>

            <div class="row"></div>
            <panel title="Nested Panel" category="info" icon-class="glyphicon glyphicon-search" col='5' offset='0'>
                Look Ma - nested panels! <br>
                <br>
                <br>
                Reeeeeally cool, huh!<br>
            </panel>
            <panel title="Nested Panel" category="success" icon-class="glyphicon glyphicon-search" col='6' offset='1'>
                Look Ma - nested panels! <br>
            </panel>

            <div class="row"></div>
            <panel-button btn-type="danger" onclick="alert('Now you are alerted!');" >Alert</panel-button>
            <panel-button btn-type="success" ui-sref="restricted.dashboard" >Go to dashboard</panel-button>
        </panel>

        <panel class="col-sm-3 col-sm-offset-1" title="Customized Panel" category="danger" icon-class="glyphicon glyphicon-search">
            This is a customized panel<br>
            <br>
            It <b>overrides</b> the following values:
            <ul>
                <li>
                    class: "col-sm-3" <br>
                    (this overrides the default)
                </li>
                <li>
                    title-color: "red" 
                </li>
                <li>
                    icon-class: "fa-warning red"
                    (when "icon-class" is defined it overrides any values of "icon")
                </li>
            </ul>
            The panel-buttons has the following values:
            <ul>
                <li>btn-type: "danger"</li>
            </ul>
            <panel-button btn-type="danger" ng-click="alert('test');">Close</panel-button>
        </panel>
    </div>

    <hr>
    <h1>Form controls</h1>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-4">
            <!--USERNAME-->
            <div class="form-group">
                <label for="preferredLogin">Preferred Username:</label> 
                <div class="input-group">
                    <input type="text" class="form-control input-sm" id="preferredLogin" name="userName" placeholder="Username" 
                           ng-model="user.username" required ng-minlength="2" ng-maxlength="20" ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9_]*$/" 
                           ng-class="form.userName.$valid && form.userName.$dirty && usernameAlreadyExist ? 'mcp-invalid-input' : '' " mcp-focus-me>
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                </div>
                <div class="text-danger" ng-show="form.userName.$error && form.userName.$dirty">
                    {{getError(form.userName.$error, 2, 20, "No weird characters. Letters and numbers only. Must start with a letter.")}}
                </div>
                <div class="text-danger" ng-show="form.userName.$valid && form.userName.$dirty && usernameAlreadyExist">
                    Sorry, but this username is already taken : (
                </div>
                <p class="help-block">The username must be unique. That is, you cannot choose a username that has already been used by another user or organization.</p>
            </div>
            <!--EMAIL-->
            <div class="form-group">
                <label for="email">Primary Email Address:</label> 
                <div class="input-group">
                    <input type="email" class="form-control input-sm" placeholder="Email Address" id="email" name="email" 
                           autocorrect="off" autocapitalize="off" spellcheck="false" ng-model="user.emailAddress">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                </div>
                <div class="text-danger" ng-show="form.email.$error && form.email.$dirty">
                    {{getError(form.email.$error, 2, 20, "No weird characters. Letters and numbers only. Must start with a letter.")}}
                </div>
                <p class="help-block">The address where the registration key should be sent to. We promise not to send you any spam mails</p>
            </div>

        </div>
    </div>
    <hr>



</div>