<div class="">
    <h1>Style Guide</h1>

    <hr>
    <h1>Headings</h1>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <h1>h1. Maritime Cloud Portal heading</h1>
            <h2>h2. Maritime Cloud Portal heading</h2>
            <h3>h3. Maritime Cloud Portal heading</h3>
            <h4>h4. Maritime Cloud Portal heading</h4>
            <h5>h5. Maritime Cloud Portal heading</h5>
            <h6>h6. Maritime Cloud Portal heading</h6>    
        </div>
    </div>

    <hr>
    <h2>Panels</h2>
    <div class="row" >
        <div class="col-sm-1">column 1</div>
        <div class="col-sm-1">column 2</div>
        <div class="col-sm-1">column 3</div>
        <div class="col-sm-1">column 4</div>
        <div class="col-sm-1">column 5</div>
        <div class="col-sm-1">column 6</div>
        <div class="col-sm-1">column 7</div>
        <div class="col-sm-1">column 8</div>
        <div class="col-sm-1">column 9</div>
        <div class="col-sm-1">column 0</div>
        <div class="col-sm-1">column 1</div>
        <div class="col-sm-1">column 2</div>
    </div>
    
    <div class="row" >
        <div class="col-sm-offset-1 col-sm-6">
            <br>
            Input bound to model='test':<br>
            <input ng-model="test"  type='text'> TEST = {{test}}
            <br>
        </div>
    </div>

    <div class="row" >
        <div class="col-sm-1"></div>
        
        <panel title="Default Panel">
            This is a default panel<br>
            <br>
            It uses the following default values:
            <ul>
                <li>col: "6" (adds the class "col-sm-6")</li>
                <li>icon:  "info" (blue)</li>
            </ul>
            <br>
            Try and type: (Input bound to model='test'):<br>
            <input ng-model="test"  type='text'>
            <br>
            This is the body part with resolved stuff like {{currentUser.name + ' ' + test}} as you may type in the field above.
            <panel-button ui-sref="restricted.dashboard">Close</panel-button>
        </panel>

        <div class="col-sm-1"></div>

        <panel panel-class="col-sm-3" title="Customized Panel" icon="user" col="3">
            This is a customized panel<br>
            <br>
            It <b>overrides</b> the following values:
            <ul>
                <li>col: "3"</li>
                <li>icon:  "user"</li>
            </ul>
            <panel-button ng-click="alert('test');">Close</panel-button>
        </panel>
    </div>

    <div class="row" >

        <div class="col-sm-1"></div>

        <panel title="Another Panel" icon="none">
            This is another panel but without a title icon and with customized buttons<br>
            <br>
            It <b>overrides</b> the following values:
            <ul>
                <li>icon:  "none"</li>
            </ul>
            The panel-buttons has the following values:
            <ul>
                <li>btn-type: "danger"</li>
                <li>btn-type: "success"</li>
            </ul>
            Notice that the buttons appear in the inverse sequence than defined, that is they build up from right to left.
            <panel-button btn-type="danger" onclick="alert('Now you are alerted!');" >Alert</panel-button>
            <panel-button btn-type="success" ui-sref="restricted.dashboard" >Go to dashboard</panel-button>
        </panel>

        <div class="col-sm-1"></div>

        <panel class="col-sm-3" title="Customized Panel" title-color="red" icon-class="fa-warning red">
            This is a customized panel<br>
            <br>
            It <b>overrides</b> the following values:
            <ul>
                <li>
                    class: "col-sm-3" <br>
                    (this overrides the default)
                </li>
                <li>
                    title-color: "red" 
                </li>
                <li>
                    icon-class: "fa-warning red"
                    (when "icon-class" is defined it overrides any values of "icon")
                </li>
            </ul>
            The panel-buttons has the following values:
            <ul>
                <li>btn-type: "danger"</li>
            </ul>
            <panel-button btn-type="danger" ng-click="alert('test');">Close</panel-button>
        </panel>
        
    </div>
    <hr>
</div>