<div class="modal-header" id="loginDialog">
    <button type="button" class="close" ng-click="$dismiss('aborted')">x</button>
    <div ng-switch="scene">
        <div ng-switch-default>
            <h2>Log In</h2>
        </div>
        <div ng-switch-when="forgotPassword">
            <h2>Forgot password</h2>
        </div>
    </div>
</div>
<div class="modal-body e-small-font" cg-busy="busyPromise">

    <!-- Hack to trigger browsers "remember credentials" functionality -->
    <iframe src="../rest/authentication/sink.html" name="sink" style="display:none"></iframe>
    <!-- FEEDBACK --> 
    <alert ng-show="alert" type="danger">{{alert}}</alert>
    <alert ng-show="message" type="info">{{message}}</alert>

    <div ng-switch="scene">
        <div ng-switch-default>

            <!--LOGIN FORM-->
            <form name="loginForm" ng-submit="login(credentials)" action="../rest/authentication/sink.html" target="sink" method="post" novalidate>
                <!--USERNAME-->
                <div class="form-group">
                    <label for="usernamefield">User Name</label> 
                    <div class="input-group">
                        <input class="form-control input-sm" type="text" placeholder="Enter your username here" mcp-focus-me id="usernamefield" name="usernamefield" 
                               ng-model="credentials.username" autocapitalize="off" autocorrect="off" autocomplete="off" required />
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    </div>
                </div>
                <!--PASSWORD-->
                <div class="form-group">
                    <label for="passwordfield">Password</label> 
                    <div class="input-group">
                        <input class="form-control input-sm" type="password" placeholder="Password" id="passwordfield" name="passwordfield" 
                               ng-model="credentials.password" required ng-minlength="4"/>
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    </div>
                </div>
                <!--FORGOT PASSWORD LINK-->
                <a class="text-primary" href="" id="forgotPasswordLink" ng-click="show('forgotPassword')" >Forgot password?</a>
                <!--SUBMIT or CANCEL-->
                <div style="margin-top: 24px">
                    <button type="submit" class="btn btn-sm btn-primary" ng-disabled="!(loginForm.usernamefield.$valid && loginForm.passwordfield.$valid)">Log In</button>
                    <button type="button" class="btn btn-sm" ng-click="$dismiss('aborted')">Cancel</button>
                </div>
            </form>

        </div>
        <div ng-switch-when="forgotPassword">

            <!--FORGOT PASSWORD FORM-->
            <form name="passwordForm" ng-submit="sendInstructions(emailAddress)" action="../rest/authentication/sink.html" target="sink" method="post" novalidate>
                <!--EMAIL-->
                <div class="form-group">
                    <label for="email">E-mail Address</label> 
                    <div class="input-group">
                        <input type="email" class="form-control input-sm" placeholder="Email Address" id="email" name="email" 
                               autocorrect="off" autocapitalize="off" spellcheck="false" required mcp-focus-me ng-model="emailAddress">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    </div>
                    <div class="text-danger" ng-show="passwordForm.email.$error.email && passwordForm.email.$dirty">
                        Please enter a valid email address
                    </div>
                    <p class="help-block">Enter your email to receive instructions.</p>
                    <br>
                    <br>
                </div>
                <!--BACK LINK-->
                <a href="" id="backToLoginLink" ng-click="show('default')">Back to login</a>
                <!--SEND or CANCEL-->
                <div style="margin-top: 24px">
                    <button type="submit" class="btn btn-sm btn-primary" ng-disabled="!(passwordForm.email.$valid && passwordForm.email.$dirty)">Send</button>
                    <button type="button" class="btn btn-sm" ng-click="$dismiss('aborted')">Cancel</button>
                </div>
            </form>

        </div>
    </div>    
</div>
<div class="modal-footer">
    <div class="pull-right" >
        First time users can <a href="#/join" id="signUpLink" ng-click="$dismiss('aborted')">Sign up</a> here to get username and password. 
    </div>
</div>
