<panel ng-show="viewState === 'invite'" category="primary" icon="plus" title="Invite a new member" offset="3">
    <p/>
    <p class="help-block">Invite a new member to {{organization.name}} </p>
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-user"></i></div>
        <input class="form-control" id='search' ng-model="filter_query" ng-change="updateSearch(filter_query)" placeholder="Search by username" mcp-focus-me>
        <div class="input-group-addon"><i class="fa fa-search-plus"></i></div>
    </div>
    <p cg-busy="{promise:busyPromiseSearch,delay:100}"></p>
    <div class="Xboxed-group-inner">
        <ul class="Xboxed-group-list standalone">
            <li ng-repeat="someone in filteredPeople = (people| filter:filter_query | filter:isNewMember | orderBy:orderProp)">
                {{someone.username}} <a ng-click="confirm(someone.username)" class="minibutton btn btn-xs btn-round"><i class="fa fa-plus"></i> Invite</a>
            </li>
            <li ng-if="filter_query && !filteredPeople.length" class="text-muted" ng-cloak>
                <p class="text-muted">Found no usernames containing '{{filter_query}}'</p>                
            </li>
        </ul>
    </div>
    <panel-button btn-type="default" ui-sref="restricted.organizationMembers({organizationId: organizationRef(organization)})">Close</panel-button>
</panel>

<panel ng-show="viewState === 'confirm'" category="primary" icon="plus" title="Really invite?" offset="3">
    <p>
        Are you positive you want to invite <b><i>{{invitedMember}}</b></i> to join <i><b>{{organization.name}}</b></i>?
    </p>
    <panel-button btn-type="primary" ng-click="invite(invitedMember)">Yes, Invite {{invitedMember}}</panel-button>
    <panel-button btn-type="default" ui-sref="restricted.organizationMembers({organizationId: organizationRef(organization)})">No, another day perhaps!</panel-button>
</panel>

<panel ng-show="viewState === 'success'" category="primary" icon="plus" title="Member invited" offset="3">
    <p>
        An invitation to join {{organization.name}} has been sent to {{invitedMember}}.
    </p>
    <panel-button btn-type="default" ui-sref="restricted.organizationMembers({organizationId: organizationRef(organization)})">Close</panel-button>
</panel>
