<!-- APPLY FOR MEMBERSHIP VIEW -->
<panel ng-show="viewState === 'apply-form'" category="primary" icon="pencil" title="Apply for Membership" offset="3">
    <p class="help-block">Write an application to {{organization.name}}: </p>
    <hr>
    <p class="help-block">
        <i>
            Dear {{organization.name}}. 
            <br>
            <br>
            Please add me to you members list. 
            <br>
            <br ng-if="!!addtionalMessage">
            <span ng-if="!!addtionalMessage">
                {{addtionalMessage}}
            </span>
            <br ng-if="!!addtionalMessage">
            <br>
            Kind regards, 
            <br>
            {{currentUser.name}}
            <br>
        </i>
    </p>
    <hr>
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-align-justify"></i></div>
        <textarea class="form-control" id='search' ng-model="addtionalMessage" ng-change="updateSearch(filter_query)" placeholder="Here you may add a personalized application message" mcp-focus-me></textarea>
    </div>
    <panel-button btn-type="primary" ng-click="join(addtionalMessage)"> <i class="fa fa-envelope"></i> Submit </panel-button>
    <panel-button btn-type="default" ui-sref="restricted.organizationDetails({organizationId: organizationRef(organization)})"> No, never mind <i class="fa fa-ban"></i> </panel-button>
</panel>

<panel ng-show="viewState === 'apply-success'" category="primary" icon="plus" title="Member invited" offset="3">
    <p>
        An application to join {{organization.name}} has been submitted. You will be notified when the application has been processed.
    </p>
    <panel-button btn-type="default" ui-sref="restricted.organizationDetails({organizationId: organizationRef(organization)})"> Ok </panel-button>
</panel>

<!-- INVITE VIEW -->

<panel ng-show="viewState === 'invite'" category="primary" icon="plus" title="Invite a new member" offset="3">
    <p/>
    <p class="help-block">Invite a new member to {{organization.name}} </p>
    <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-user"></i></div>
        <input class="form-control" id='search' ng-model="filter_query" ng-change="updateSearch(filter_query)" placeholder="Search by username" mcp-focus-me>
        <div class="input-group-addon"><i class="fa fa-search-plus"></i></div>
    </div>
    <p cg-busy="{promise:busyPromiseSearch,delay:100}"></p>
    <div>
        <ul class="standalone">
            <li ng-repeat="someone in filteredPeople = (people| filter:filter_query | filter:isNewMember | orderBy:orderProp)">
                {{someone.username}} <a ng-click="confirm(someone.username)" class="minibutton btn btn-xs btn-round"><i class="fa fa-plus"></i> Invite</a>
            </li>
            <li ng-if="filter_query && !filteredPeople.length" class="text-muted" ng-cloak>
                <p class="text-muted">Found no usernames containing '{{filter_query}}'</p>                
            </li>
            <li ng-if="page && page.numberOfElements < page.totalElements" class="text-muted" ng-cloak>
                <p class="text-muted">... and {{page.totalElements - page.numberOfElements}} more</p>                
            </li>
        </ul>
    </div>
    <panel-button btn-type="default" ui-sref="restricted.organizationMembers({organizationId: organizationRef(organization)})">Close</panel-button>
</panel>

<panel ng-show="viewState === 'invite-confirm'" category="primary" icon="plus" title="Really invite?" offset="3">
    <p>
        Are you positive you want to invite <b><i>{{invitedMember}}</b></i> to join <i><b>{{organization.name}}</b></i>?
    </p>
    <panel-button btn-type="primary" ng-click="invite(invitedMember)">Yes, Invite {{invitedMember}}</panel-button>
    <panel-button btn-type="default" ui-sref="restricted.organizationMembers({organizationId: organizationRef(organization)})">No, another day perhaps!</panel-button>
</panel>

<panel ng-show="viewState === 'invite-success'" category="primary" icon="plus" title="Member invited" offset="3">
    <p>
        An invitation to join {{organization.name}} has been sent to {{invitedMember}}.
    </p>
    <panel-button btn-type="default" ui-sref="restricted.organizationMembers({organizationId: organizationRef(organization)})">Close</panel-button>
</panel>

<!-- ACCEPT INVITE VIEW -->

<panel ng-show="viewState === 'accept-invite-try'" category="primary" icon="" title="Accepting..." offset="3">
    <p>
        Sending request...
    </p>
</panel>

<panel ng-show="viewState === 'accept-success'" category="primary" icon="check" title="Joined organization" offset="3">
    <p>
        You are now a member of {{organization.name}}.
    </p>
    <panel-button btn-type="default" ui-sref="restricted.organizationDetails({organizationId: organizationRef(organization)})"> Ok </panel-button>
</panel>

<!-- LEAVE VIEW -->

<panel ng-show="viewState === 'confirm-leave'" category="danger" icon="danger" title="Really leave?" offset="3">
    <p>
        Are you positive you want to leave <i><b>{{organization.name}}</b></i>?
    </p>
    <panel-button btn-type="danger" ng-click="leave(membership)">Yes, Leave it</panel-button>
    <panel-button btn-type="default" ui-sref="restricted.organizationDetails({organizationId: organizationRef(organization)})">No, just kidding!</panel-button>
</panel>

<panel ng-show="viewState === 'leave-success'" category="primary" icon="exclamation" title="Dropped membership" offset="3">
    <p>
        You are no longer a member of {{organization.name}}.
    </p>
    <panel-button btn-type="default" ui-sref="restricted.organizationDetails({organizationId: organizationRef(organization)})"> Close </panel-button>
</panel>

<!-- ERROR VIEW -->

<panel ng-show="viewState === 'error'" category="danger" icon="warning" title="Chaos" offset="3">
    <p>
        Oh no, errors! : (
    </p>
    <p>
        Perhaps try again later
    </p>
    <panel-button btn-type="default" ui-sref="restricted.organizationDetails({organizationId: organizationRef(organization)})"> Oh, I see </panel-button>
</panel>
