<div class="simple-box">
    <div class="container-fluid">
        <div>
            <h3><a href="#/orgs/{{organization.primaryAlias || organization.organizationId}}/members"> Members </a></h3>
        </div>
        <div >
            Search member: <input ng-model="filter_query"> 
        </div>
        <div class="team" ng-repeat="member in organization.members| filter:filter_query">
            <a ng-class="'fa fa-user'" href="#/users/{{member.username}}"> {{member.username}}</a>
        </div>
    </div>
</div>
