<div class="org-header">
    <h1>
        <span>{{organization.title}}</span>
        <a class="edit-org" href="#/orgs/{{organization.name}}/settings" data-tooltip="Organization settings" data-tooltip-placement="right">
            <span class="fa fa-gear"></span>
        </a>
    </h1>
    <p class="org-description">{{organization.description}}</p>
    <ul class="org-header-meta">
        <li class="meta-item">
            <span class="fa fa-globe"></span>
            <a href="{{organization.url}}">{{organization.url}}</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-sm-8">
        <!--PROVIDED SERVICES-->
        <div>
            <h2> Provided Services</h2>
            <div ng-if="!serviceInstances.length">
                Currently no service instances!
            </div> 
            <thumbnail-map ng-if="serviceInstances.length" class="border-rounded-corners" id="allServices" services="serviceInstances" on-click="openDetails()"></thumbnail-map>

            <div  class="container-fluid serviceInstanceListItem" ng-repeat="service in serviceInstances|limitTo:20">
                <div ng-controller="ServiceInstanceDetailsController">
                    <h4>
                        <span>{{service.name}} - {{service.specification.transportType}}</span>
                        <a ng-if="userHasWriteAccess()" class="edit-gear" href="#/orgs/{{organization.name}}/{{service.id}}/edit" data-tooltip="Service instance settings" data-tooltip-placement="right">
                            <span class="fa fa-gear"></span>
                        </a>
                        <span class="pull-right text-right"><small>({{service.id}})</small></span>
                    </h4>
                    <div class="row">
                        <div class="col-sm-7 col-lg-5" >
                            <thumbnail-map id="{{'tmap-' + $index}}" services="[service]" on-click="toggleDetails(); $digest()"></thumbnail-map>
                        </div>
                        <div class="col-sm-5 col-lg-7" >
                            <p>{{service.description}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <h5 ng-click="toggleDetails()">{{details.isCollapsed ? '(more...)' : 'Service details:'}} </h5>
                            <div collapse="details.isCollapsed">
                                <dl class="dl-horizontal" >
                                    <dt>Id</dt><dd>{{service.id}}</dd>
                                    <dt>Specification</dt><dd>{{service.specification.name}}</dd>
                                    <dt>Endpoints:</dt>
                                    <dt ng-repeat-start="endpoint in service.endpoints"></dt>
                                    <dd ng-repeat-end class="truncated"><a target="_blank" href="{{endpoint.uri}}">{{endpoint.uri}}</a></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="serviceInstances.length > 20" class="container-fluid serviceInstanceListItem"> <br> ... and {{serviceInstances.length - 20}} more ...</div>
            <div ng-if="userHasWriteAccess()">
                <br>
                <a class="btn btn-minier btn-info" href="#/orgs/{{organization.name}}/createServiceInstance">+ Register a service</a>
            </div>
        </div>

        <div>
            <h2> Service Specifications</h2>
            <ul ng-repeat="spec in specifications">
                <li>
                    <h3>{{spec.title}}</h3>
                    <p>{{spec.description}}</p>
                </li>
            </ul>
        </div>

        <div>
            <h2> Public Certificates</h2>
            <ul>
                <li> 
                    <h4> A public certificate with description and expiry dates etc... </h4>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div ng-include="'organizations/member-list.html'"/>
    </div>
    <div>
        <div ng-include="'organizations/team-list.html'"/>
    </div>

</div>