<div class="org-header">
    <h1>
        <span>{{organization.title}}</span>
        <a class="edit-org" href="#/orgs/{{organization.name}}/settings" data-tooltip="Organization settings" data-tooltip-placement="right">
            <span class="fa fa-gear"></span>
        </a>
    </h1>
    <p class="org-description">{{organization.description}}</p>
    <ul class="org-header-meta">
        <li class="meta-item">
            <span class="fa fa-envelope"></span>
            <a href="mailto:{{organization.name}}@googlegroups.com">{{organization.name}}@googlegroups.com</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-sm-8">
        <!--PROVIDED SERVICES-->
        <div>
            <h2> Provided Services</h2>
            <div ng-if="serviceInstances.length === 0">
                Currently no service instances!
            </div> 
            <div  class="container-fluid serviceInstanceListItem" ng-repeat="service in serviceInstances">
                <div ng-controller="ServiceInstanceDetailsController">
                    <h4>
                        <span>{{service.name}} - {{service.specification.transportType}}</span>
                        <a ng-if="userHasWriteAccess()" class="edit-gear" href="#/orgs/{{organization.name}}/{{service.id}}/edit" data-tooltip="Service instance settings" data-tooltip-placement="right">
                            <span class="fa fa-gear"></span>
                        </a>
                    </h4>
                    <div>
                        <div class="col-sm-7 col-lg-5" >
                            <leaflet class="border-rounded-corners" id="{{'map-' + $index}}" event-broadcast="events" defaults="map.defaults" height="160px" width="100%" paths="map.paths"></leaflet>
                        </div>
                        <div class="col-sm-5 col-lg-7" >
                            <p>{{service.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="userHasWriteAccess()">
                <br>
                <a class="btn btn-minier btn-info" href="#/orgs/{{organization.name}}/createServiceInstance">+ Register a service</a>
            </div>
        </div>

        <div>
            <h2> Service Specifications</h2>
            <ul ng-repeat="spec in specifications">
                <li>
                    <h3>{{spec.title}}</h3>
                    <p>{{spec.description}}</p>
                </li>
            </ul>
        </div>

        <div>
            <h2> Public Certificates</h2>
            <ul>
                <li> 
                    <h4> A public certificate with description and expiry dates etc... </h4>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <div ng-include="'organizations/member-list.html'"/>
    </div>
    <div>
        <div ng-include="'organizations/team-list.html'"/>
    </div>

</div>