<div class="row" cg-busy="busyPromise">
    <div class="col-lg-6">
        <h1>{{organization.name}}</h1>
        <i class="help-block">
            <label>Organization ID:</label> {{organization.organizationId}} <br/>
            <label>Primary alias:</label> {{organization.primaryAlias}} <br/>
        </i>
        <!--MESSAGES-->
        <div ng-show="alertMessages" class="alert alert-danger">
            <span ng-repeat="msg in alertMessages">{{msg}}<br /></span>
        </div>
        <div ng-show="message" class="alert alert-info">{{message}}</div>
        <hr>
        <!--FORMS-->
        <form role="form" name="nameAndSummaryForm">
            <!--            <div class="form-group">
                            <label for="orgId">Identifier</label>
                            <input type="text" required class="form-control" id="orgId" placeholder="Enter a unique organization identifier" ng-model="organization.organizationId" mcp-focus-me >
                            <p class="help-block">This chosen string will be the id of the organization and cannot be changed once created. It must be unique amongst both users and organizations.</p>
                        </div>-->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" required class="form-control" id="name" name="name" placeholder="Enter the organization name" ng-model="organization.name">
                <p class="help-block">The name is used as the human readable representation of the organization. This name can be changed at any time.</p>
            </div>
            <div class="form-group">
                <label for="orgSummary">Summary</label>
                <textarea class="form-control" id="summary" name="summary" rows="3" placeholder="Enter a short description of the organization" ng-model="organization.summary"></textarea>
                <p class="help-block">The summary is usually presented together with the name and should capture the essence of the organization in a few words.</p>
            </div>
            <div>
                <button type="submit" class="btn btn-success center" ng-disabled="nameAndSummaryForm.$pristine || nameAndSummaryForm.$invalid" ng-click="submitNameAndSummary()">Submit</button>
                <!--<button type="submit" class="btn btn-success center" ng-disabled=" !nameAndSummaryIsSubmitable()" ng-click="submitNameAndSummary()">Submit</button>-->
            </div>
        </form>
        <hr>
        <form role="form" name="urlForm">
            <div class="form-group">
                <label for="url">Website URL</label>
                <input type="text" class="form-control" id="url" name="url" placeholder="Enter a URL" ng-model="organization.url">
                <p class="help-block">The Organization website.</p>
            </div>
            <div>
                <button type="submit" class="btn btn-success center" ng-disabled="urlForm.$pristine || urlForm.$invalid" ng-click="submitUrl()">Submit</button>
            </div>
        </form>
        <!--hr>
        <form role="form" name="avatarForm">
            <div class="form-group">
                <label for="orgAvatar">Logo</label>
                <input type="file" id="orgAvatar">
                <p class="help-block">Organization logo that will be used to enhance visual recognition.</p>
            </div>
            <div>
                <button type="submit" class="btn btn-success center" ng-disabled="!formIsSubmitable()" ng-click="submitLogo()">Submit</button>
            </div>
        </form-->
        <hr>
        <form role="form" name="formAlias" novalidate>
            <div class="form-group">
                <label>Secondary Aliases</label>
                <div>
                    <ul>
                        <li ng-if="organization.aliases.length === 0"><i>No secondary aliases - use the field below to add one!</i></li>
                        <li  ng-repeat="alias in organization.aliases">{{alias.alias}}
                            <button ng-click="removeAlias(alias.alias);" class="btn btn-default btn-sm">
                                <span class="fa fa-trash-o"></span>
                            </button>
                        </li>
                        <li>
                            <input type="text" id="newAlias" name="newAlias" placeholder="Enter an alias" ng-model="newAlias" 
                                   required
                                   ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9-]*$/"
                                   ng-minlength="2"
                                   ng-class="formAlias.newAlias.$valid && formAlias.newAlias.$dirty && aliasAlreadyExist ? 'mcp-invalid-input' : '' "
                                   >
                            <span>
                                <button class="btn btn-success"
                                        ng-click="addAlias(newAlias);" 
                                        ng-disabled="formAlias.newAlias.$invalid || formAlias.newAlias.$pristine || aliasNotDefined || aliasAlreadyExist" 
                                        >
                                    <span class="fa fa-plus">Add</span>
                                </button>
                            </span>
                        </li>
                        <div class="text-danger" ng-show="aliasAlreadyExist">
                            Sorry, but this alias is already taken : (
                        </div>
                    </ul>
                </div>
                <p class="help-block">Aliases may be used as an optional way to reference and locate the organization. </p>
            </div>
        </form>
        <hr>
        <div>
            <button class="btn btn-grey center" ui-sref='restricted.organizationDetails({organizationId: (organizationRef(organization))})'>Close</button>
        </div>
        <br>
    </div>
</div>