<div class="boxed-group">
    <div class="boxed-group-action" > 
        Search: <input ng-model="filter_query">
    </div>
    <h3>Organizations</h3>
    <div class="boxed-group-inner">
        <ul class="boxed-group-list standalone">
            <li ng-repeat="organization in organizations| filter:filter_query | orderBy:orderProp">
                <img alt="Danish Maritime Authority" class=" js-avatar" data-user="2655913" height="20" src="https://avatars3.githubusercontent.com/u/2655913?s=140" width="20">
                <a href="#/orgs/{{organizationRef(organization)}}">{{organization.name}}</a>
            </li>
        </ul>
    </div>
</div>
