<div class="row">
    <div class="col-xs-12">
        <h1>Maritime Cloud Dashboard</h1>
        <div >

            <div> 
                <p>Organizations: 74 . Services: 244 . Specifications: 37 . Users: 4.253</p>
            </div> 

            <div> 
                <p>
                    <b>Welcome, {{currentUser.name}}</b>
                </p>
            </div> 

            <br/>
            <div> 
                <h4>
                    Organizations
                </h4>
                <p>
                    You have the following memberships:
                </p>
                <ul>
                    <li>
                        Danish Maritime Authority
                    </li>
                </ul>
            </div> 

            <br/>
            <div> 
                <h4>
                    Assets
                </h4>
                <p>
                    You have registered the following assets:
                </p>
                <ul>
                    <li>
                        Kiva, (træskib)
                    </li>
                </ul>
            </div> 

            <br/>
            <div> 
                <h4>
                    Achievements
                </h4>
                <p>
                    You have the following Certificates/Memberships/Roles:
                </p>
                <ul>
                    <li>
                        Member of the Royal Fleet of Denmark
                    </li>
                    <li>
                        Class A Vessel Officer
                    </li>
                </ul>
            </div> 

            <br/>
            <div> 
                <h4>
                    Activity Feeds 
                </h4>
                <p>
                    This were your last actions:
                </p>
                <ul>
                    <li>
                        <i>Two days ago</i>: Added new asset: Kiva, (træskib)
                    </li>
                    <li>
                        <i>Three Weeks ago</i>: Accepted to join "Danish Maritime Authority"
                    </li>
                </ul>
                This has happened in your organizations:
                <ul>
                    <li>
                        <i>A few minutes ago</i> Tintin invited Haddock to join "Danish Maritime Authority"
                    </li>
                    <li>
                        <i>Yesterday</i> Tintin created new Service Specification "Weather Reporting via MMS"
                    </li>
                    <li>
                        ...1024 more the last month...
                    </li>
                </ul>
                Other public events:
                <ul>
                    <li>
                        <i>A few minutes ago</i> "Asian Trade Company" published a new service "IMO Route Exchange on MMS" 
                    </li>
                    <li>
                        <i>A few minutes ago</i> IMO published a new Role "Flagstate"
                    </li>
                    <li>
                        ...1024 more the last month...
                    </li>
                </ul>
            </div> 

<!--            <div> 
                <p><strong>Session status:</strong> Id: {{$id}} <br>
                    Current User: {{currentUser}}<br>
                    Storage: {{$storage}} 
                </p>
                <p><a href="#/users"> List of Users</a></p>
                <p><a href="#/users/{{currentUser.name}}"> Details </a></p>
                <p><a href="#/join"> Register new User</a></p>
            </div> 

            <div ng-show="alertMessages" class="alert alert-danger">
                <span ng-repeat="msg in alertMessages">{{msg}}<br /></span>
            </div>
            <div ng-show="message" class="alert alert-info">{{message}}</div>


            <div ng-if="currentUser">Welcome, {{ currentUser.name}}</div>
            <div ng-if="!currentUser">Not logged in!</div>

            <div ng-if="isAuthorized(userRoles.admin)">
                <p>You're authorized as admin.</p>
                <p class="col-lg-4"> This grants you certain privileges:</p>
                ... i just cant remember which!?! :oC
            </div>
            <div ng-switch on="currentUser.role">
                <div ng-switch-when="ADMIN">You're admin.</div>
                <div ng-switch-when="USER">You're admin.</div>
                <div ng-switch-default>You're something else. {{ currentUser.role}}</div>
            </div>        

            <div class="btn-group">
                <button class="btn btn-large btn-round btn-grey" ng-click="logout()">Log out</button>
            </div>-->
        </div>
    </div>
</div>
