<div>
    <carousel id="myCarousel" interval="8000"> 
        <slide> 
             SOURCE: http://www.rgbstock.com/photo/mHRgAs0/cloud+formations 
            <!--<img x-ng-src="img/landingpage/clouds.jpg" alt="Clouds formations">-->
            <img x-ng-src="img/landingpage/grenen20140730.jpg" alt="Antique world map">
            <div class="carousel-caption">
                <h2>Tailored Weather Forecasts</h2>
                <p>Tailored weather forecasts from Danish Meteorological Institute for uploaded sailing routes.</p>
            </div>
        </slide> 
        <slide> 
            <img x-ng-src="img/landingpage/Konsol-h350.jpg" alt="Vessel bridge">
            <div class="carousel-caption">
                <h2>Coordinated Voyage</h2>
                <p>Share routes and schedules with other ships and Ground Command.</p>
            </div>
        </slide> 
        <slide> 
            <img x-ng-src="img/landingpage/map.jpg" alt="Antique world map">
            <div class="carousel-caption">
                <h2>Live AIS-data and Streamlined Reporting</h2>
                <p>AIS-data from satellite and base stations. </p>
            </div>
        </slide> 
        <slide> 
            <img x-ng-src="img/landingpage/grenen_lighthouse_20140730.jpg" alt="Lighthouse">
            <div class="carousel-caption">
                <h2>Identity Services</h2>
                <p>Know who is who and delegate identity trust. </p>
            </div>
        </slide> 
    </carousel>
    <hr class="soften">
    <!-- Primary marketing message -->
    <div class="hero-content center" >
        <h1 style="margin-top: 30px; margin-bottom: 20px;">Welcome to Maritime Cloud Portal</h1>
        <p> Maritime Cloud Portal offers Identity & Access Management of the Maritime Cloud Services </p>
        <p> Maritime Cloud is an joint effort from multiple Maritime Authorities to improve maritime safety on a global scale.
            Maritime Cloud serves as a single point of access to safety related information, provides streamlined reporting and allows
            for voluntary coordinated voyage through sharing of positions and planned routes. Ships in the area and their
            organizations may login or request access to Maritime Cloud via the buttons below.</p>
        <br/>
        <div ng-if="currentUser">
            <h3>Go to <a href="#/dashboard"> Dashboard </a> </h3>
        </div>
        <div ng-if="!currentUser">
            <div class="btn-group">
                <a class="btn btn-large btn-success" href="#/join" role="button" id="join">Join</a>
                <a class="btn btn-large btn-primary" href="#/dashboard" id="login">Log In</a>
            </div>
        </div>
    </div>
    <hr class="soften" />
    <!--Temporary debug info etc...-->
    <div class="container" style="color: grey;">
        <div class="row">
            <div class="col-md-6 " >
                <a href="#/styleguide" >Styleguide</a><br>
                <a href="../bootstrap-template/html/index.html" target="#" >Bootstrap Template Demo</a><br>
            </div>
        </div>
    </div>

</div>
