<div class="col-lg-6">
    <h1>Create an organization</h1>
    <p>Fill out the form below to register a new organization.</p>

    <!--MESSAGES-->
    <div x-ng-show="alertMessages" class="alert alert-danger">
        <span x-ng-repeat="msg in alertMessages">{{msg}}<br /></span>
    </div>
    <div x-ng-show="message" class="alert alert-info">{{message}}</div>
    <!--FORM-->
    <form role="form">
        <div class="form-group">
            <label for="orgName">Name</label>
            <input type="text" required class="form-control" id="orgName" placeholder="Enter an organization name" ng-model="organization.name" mcp-focus-me="true" >
            <p class="help-block">This name will be the id of the organization and cannot be changed once created. It must be unique amongst both users and organizations.</p>
        </div>
        <div class="form-group">
            <label for="orgTitle">Title</label>
            <input type="text" required class="form-control" id="orgTitle" placeholder="Enter an organization title" ng-model="organization.title">
            <p class="help-block">The title is used as the human readable representation of the organization. This name can be changed at any time.</p>
        </div>
        <div class="form-group">
            <label for="orgAvatar">Logo</label>
            <input type="file" id="orgAvatar">
            <p class="help-block">Organization logo that will be used to enhance visual recognition.</p>
        </div>
        <div>
            <button type="submit" class="btn btn-success center" x-ng-disabled="!formIsSubmitable()" x-ng-click="submit()">Create organization</button>
        </div>
    </form>
</div>