<html>
	<body>
		<h3>Dear ${username.toUpperCase()}</h3>
		<p>
            Thank you for joining the Maritime Cloud Portal.
		</p>
		<p>
            In order to complete the registration process you 
            need to activate your account by visiting this URL: <br/>
            <a href="${baseUrl}#/users/${username}/activate/${activationid}">
                     ${baseUrl}#/users/${username}/activate/${activationid}
            </a>
		</p>
		<h5>
		</h5>
		<p>
            <b>None of my doing!</b> <br>
			If you did not register with the Maritime Cloud Portal 
            then we apologize for the inconvenience. You may choose 
            to ignore this mail and you will presumably never hear 
            from us again. 
		</p>
		<p>
            Have a nice day.
		</p>
	</body>
</html>