<div class="col-sm-3"></div>

<div class="col-sm-6 widget-container-col widget-box" cg-busy="signUpPromise">
    <div class="widget-main">
        <!--TITLE-->
        <h4 class="header green lighter bigger-200"><i class="ace-icon fa fa-user blue"></i>
            New User Registration
        </h4>
        <!--INSTRUCTIONS-->
        <p>Please fill out the form below to get access to Maritime Cloud.</p>
        <!-- FEEDBACK --> 
        <alert ng-show="alert" type="danger">{{alert}}</alert>
        <alert ng-show="message" type="info">{{message}}</alert>
        <!--FORM-->
        <form role="form" name="form" novalidate>
            <!--USERNAME-->
            <div class="form-group">
                <label for="preferredLogin">Preferred Username:</label> 
                <span class="block input-icon input-icon-right">
                    <input type="text" class="form-control input-sm" id="preferredLogin" name="userName" placeholder="Username" 
                           ng-model="user.username" required ng-minlength="2" ng-maxlength="20" ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9_]*$/" 
                           ng-class="form.userName.$valid && form.userName.$dirty && usernameAlreadyExist ? 'mcp-invalid-input' : '' " mcp-focus-me>
                    <i class="ace-icon fa fa-user"></i>
                </span>
                <div class="text-danger" ng-show="form.userName.$error && form.userName.$dirty">
                    {{getError(form.userName.$error, 2, 20, "No weird characters. Letters and numbers only. Must start with a letter.")}}
                </div>
                <div class="text-danger" ng-show="form.userName.$valid && form.userName.$dirty && usernameAlreadyExist">
                    Sorry, but this username is already taken : (
                </div>
                <p class="help-block">The username must be unique. That is, you cannot choose a username that has already been used by another user or organization.</p>
            </div>
            <!--EMAIL-->
            <div class="form-group">
                <label for="email">Primary Email Address:</label> 
                <span class="block input-icon input-icon-right">
                    <input type="email" class="form-control input-sm" placeholder="Email Address" id="email" name="email" 
                           autocorrect="off" autocapitalize="off" spellcheck="false" x-ng-model="user.emailAddress">
                    <i class="ace-icon fa fa-envelope"></i>
                </span>
                <div class="text-danger" ng-show="form.email.$error && form.email.$dirty">
                    {{getError(form.email.$error, 2, 20, "No weird characters. Letters and numbers only. Must start with a letter.")}}
                </div>
                <p class="help-block">The address where the registration key should be sent to. We promise not to send you any spam mails</p>
                <!--div x-ng-show="user.emailAddress">
                    <span class="block input-icon input-icon-right" >
                        <input type="email" class="form-control" placeholder="Retype your Email (optional)" id="repeatedEmail" x-ng-model="repeatedEmailAddress">
                        <i class="ace-icon fa fa-retweet"></i>
                    </span>
                </div--> 
            </div>
            <!--PASSWORD-->
            <div ng-include="'users/supply-password.html'"></div>
        </form>
    </div>
    <!--SUBMIT-->
    <div class="widget-toolbox padding-8 clearfix">
        <button class="btn btn-primary pull-right" x-ng-click="sendRequest()" x-ng-disabled="!isValid(form.$valid)">
            <span class="bigger-110">Register account</span>
            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
        </button>
    </div>
</div>