<!--PASSWORD-->
<div class="form-group">
    <label for="newPassword">{{passwordPrefix}} Password:</label> 
    <div class="input-group">
        <input type="password" class="form-control input-sm" placeholder="Enter your desired password" id="newPassword" name="password"
               ng-class="form.password.$dirty && passwordEqualsUsername() ? 'mcp-invalid-input' : '' "
               ng-model="user.password" required ng-minlength="4">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
    </div>
    <div class="text-danger" ng-show="form.password.$error && form.password.$dirty">
        {{getError(form.password.$error, 4)}}
    </div>
    <div class="text-danger" ng-show="form.password.$dirty && passwordEqualsUsername()">
        The username and password must not be the same
    </div>
    <p class="help-block">At least 4 characters</p>
</div>
<!--CONFIRM-PASSWORD-->
<div class="form-group" ng-show="form.password.$valid">
    <label for="repeatedPassword">Confirm {{passwordPrefix}} Password:</label> 
    <div class="input-group">
        <input type="password" class="form-control input-sm" placeholder="Repeat password" name="rpw" id="repeatedPassword" 
               ng-model="user.repeatedPassword" ng-minlength="4" ng-class="form.rpw.$dirty && !passwordsMatch() ? 'mcp-invalid-input' : '' ">
        <span class="input-group-addon"><i class="fa fa-retweet"></i></span>
    </div>
    <div class="text-danger" ng-show="repeatedPassword && !passwordsMatch()">
        Not matching!
    </div>
</div>

