<div class="col-sm-3"></div>

<panel ng-show="viewState === 'supplyPassword'" category="primary" icon="user" title="Change Password">

    <p>
        Please provide a new password for your account:<br>
    </p>
    <!--PASSWORD FORM-->           
    <form role="form" name="form" novalidate>
        <!--PASSWORD-->
        <div class="form-group">
            <label for="passwordfield">Current Password</label> 
            <div class="input-group">
                <input class="form-control input-sm" type="password" placeholder="Password" id="passwordfield" name="passwordfield" 
                       ng-model="currentPassword" required ng-minlength="4"/>
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            </div>
        </div>

        <div ng-include="'users/supply-password.html'"></div>
    </form>
    <panel-button id="changePasswordButton" btn-type="primary" ng-click="changePassword(currentPassword, user.password)" ng-disabled="!isValid(form.$valid)" href=''>Change</panel-button>
    <panel-button btn-type="default" ui-sref="restricted.userProfile"> Close <i class="fa fa-ban"></i> </panel-button>
</panel>

<panel ng-show="viewState === 'success'" category="success" icon="user" title="Password changed successfully">
    <p>
        Your password has been changed. A notification has been sent to your email address<br>
    </p>
    <panel-button id="loginButton" btn-type="success" ui-sref="restricted.dashboard">Close</panel-button>
</panel>

<panel ng-show="viewState === 'notFound'" category="danger" icon="user" title="Unable to change password!">
    <p>
        Oh snap! It seems like we have a disagreement here. <br>
        <br>
        Apparently we cannot find the combination of your username and the current password.<br>
        <br>
        Maybe you made a typo in the current password!?<br>
    </p>
    <panel-button id="closeButton" btn-type="primary" ng-click="retry()">Try again</panel-button>
    <panel-button btn-type="default" ui-sref="restricted.userProfile"> Close <i class="fa fa-ban"></i> </panel-button>
</panel>

<panel ng-show="viewState === 'error'" category="danger" icon="warning" title="An error occurred">
    <alert ng-show="alert" type="danger">{{alert}}</alert>
    <p>
        Hmm... something went wrong on the server :-(
    </p>
    <p>
        Wait for a while and then try again.
    </p>
    <panel-button id="closeButton" btn-type="primary" ng-click="retry()">Try again</panel-button>
    <panel-button btn-type="default" ui-sref="restricted.userProfile"> Close <i class="fa fa-ban"></i> </panel-button>
</panel>

