<div class="col-lg-6">
    <h1>{{service.name}}</h1>
    <i class="help-block">
        <label>Service Instance ID:</label> {{service.serviceInstanceId}} <br/>
        <label>Service Specification:</label> {{service.specification.name + ' (' + service.specification.serviceType + ')'}} <br/>
        <label>Primary alias:</label> {{service.primaryAlias}} <br/>
    </i>
    <!--MESSAGES-->
    <div ng-show="alertMessages" class="alert alert-danger">
        <span ng-repeat="msg in alertMessages">{{msg}}<br /></span>
    </div>
    <div ng-show="message" class="alert alert-info">{{message}}</div>
    <hr>
    <!--FORM-->
    <form role="form" name="form">
        <div class="form-group">
            <label for="serviceName">Name</label>
            <input type="text" required class="form-control" id="serviceName" placeholder="Enter a service name" ng-model="service.name" >
            <p class="help-block">The name will be presented on result lists when searching for services. It should distinguish this service from others offered by the organization.</p>
        </div>
        <div class="form-group">
            <label for="serviceDescription">Summary</label>
            <textarea class="form-control" id="serviceDescription" rows="3" placeholder="Enter a description of the service" ng-model="service.summary"></textarea>
            <p class="help-block">The description is usually presented together with the name and should capture the essence of the service in a few words.</p>
        </div>
        <div>
            <button type="submit" class="btn btn-success center" ng-disabled="!form.$valid || !formIsSubmitable()" ng-click="submit()">Commit</button>
        </div>
        <hr>
        <div class="form-group">
            <label>Endpoints</label>
            <div>
                <ul>
                    <li ng-if="service.endpoints.length === 0"><i>No service endpoints - use the field below to add at least one!</i></li>
                    <li  ng-repeat="endpoint in service.endpoints">{{endpoint.uri}}
                        <button ng-if="service.endpoints.length > 1" ng-click="removeEndpoint(endpoint.uri);" class="btn btn-default btn-sm">
                            <span class="fa fa-trash-o"></span>
                        </button>
                    </li>
                    <li>
                        <select ng-if="protocols.length > 1" ng-model="protocol" ng-options="protocol for protocol in protocols"></select>
                        <span ng-if="!(protocols.length > 1)">{{protocol}}</span>
                        <input type="text" id="serviceEndpoints" placeholder="Enter an endpoint URI to add to the list" ng-model="newEndpoint" >
                        <span>
                            <button ng-click="addEndpoint(newEndpoint);" ng-disabled="isLockedOrInvalidEndpoint(newEndpoint)" class="btn btn-success">
                                <span class="fa fa-plus">Add</span>
                            </button>
                        </span>
                    </li>
                </ul>
            </div>
            <!--<div class="col-sm-12">-->
            <p class="help-block">Endpoints are the resource identifiers that will enable clients to locate and use the service. Depending on the type of service this might be the URL address of the service like http://my-org/my-cool-service, a phone number or a call sign for VHF. It is possible to specify multiple endpoints for instance for backup or load balancing</p>
        </div>
        <hr>
        <div class="form-group" >
            <label for="serviceDescription">Coverage </label>
            <p class="help-block" style="display: inline"> <I>Click the map to edit the coverage</I></p>
            <div popover="Click the map to edit the coverage" popover-trigger="mouseenter" popover-placement="top">
                <thumbnail-map id="instanceEditorMap" services="services" on-click="openCoverageEditor()" map="map"></thumbnail-map>
                <a class="btn btn-default center" style="display: inherit;" ng-click="openCoverageEditor()">Edit Coverage</a>
            </div>
            <p class="help-block">Select the geographical extend of the provided service. That is, specify the area where this service should be visible to consumers.</p>
        </div>
    </form>
    <form role="form" name="formAlias" novalidate>
        <hr>
        <div class="form-group">
            <label>Secondary Aliases</label>
            <div>
                <ul>
                    <li ng-if="service.aliases.length === 0"><i>No secondary aliases - use the field below to add one!</i></li>
                    <li  ng-repeat="alias in service.aliases">{{alias.alias}}
                        <button ng-click="removeAlias(alias.alias);" class="btn btn-default btn-sm">
                            <span class="fa fa-trash-o"></span>
                        </button>
                    </li>
                    <li>
                        <input type="text" id="newAlias" name="newAlias" placeholder="Enter an alias" ng-model="newAlias" 
                               required
                               ng-pattern="/^[a-zA-Z]+[a-zA-Z0-9-]*$/"
                               ng-minlength="2"
                               ng-class="formAlias.newAlias.$valid && formAlias.newAlias.$dirty && aliasAlreadyExist ? 'mcp-invalid-input' : '' "
                               >
                        <span>
                            <button class="btn btn-success"
                                    ng-click="addAlias(newAlias);" 
                                    ng-disabled="formAlias.newAlias.$invalid || formAlias.newAlias.$pristine || aliasNotDefined || aliasAlreadyExist" 
                                    >
                                <span class="fa fa-plus">Add</span>
                            </button>
                        </span>
                    </li>
                    <div class="text-danger" ng-show="aliasAlreadyExist">
                        Sorry, but this alias is already taken : (
                    </div>
                </ul>
            </div>
            <!--<div class="col-sm-12">-->
            <p class="help-block">An alias may be used in combination with the organization 
                identifier or alias to reference and locate the service. </p>
        </div>
    </form>
    <div>
        <button class="btn btn-grey center" ng-click="close()">Close</button>
    </div>
    <br>
</div>
