<div class="row">
    <div class="map">
        <!--FILTER INFO BOX-->
        <div ng-if="filter.location" class="map-info-box topright  col-xs-4" element-property="offsetWidth">
            <button type="button" style="font-size: medium;" class="close btn btn-xs btn-white" ng-click="clearFilterlocation()">X</button>
            <div class="pull-left">
                <img style="vertical-align: sub;" src="../../ext/bower/leaflet/dist/images/marker-icon.png" height="16"/> 
                <b>{{filter.location| latlng2dms:'lat lng':"d2 M23i":"d3 M23i"}}</b>
            </div>
            <hr class="soften">
            <div>
                <ul>
                    <li ng-if="!services.length"> nothing here - only silence </li>
                    <li ng-repeat="service in services| limitTo:10 " 
                        ng-class="{selected: service === selectedService, highlighted: service === highlightedService}"
                        ng-click="toggleSelectService(service)" 
                        ng-mouseover="highlightService(service)" 
                        ng-mouseleave="unhighlightService(service)"
                        > 
                        {{service.name}} <span class="pull-right" style="font-size: smaller">({{service.id}})</span>
                    </li>
                    <li ng-if="services.length > 10"> ... {{services.length - 10}} more ...</li>
                </ul>
            </div>
            <div ng-if="selectedService" class="map-info-box-description">
                <!--SUMMARY INFO-->
                <hr class="soften">
                <div style="text-align: center;">
                    <b>{{selectedService.name}}</b>
                </div>
                <hr>
                <dl class="dl-horizontal">
                    <dt>id</dt>              <dd>{{selectedService.id}}</dd>
                    <dt>specification</dt>   <dd>{{selectedService.specification.name}}</dd>
                    <dt>transport type</dt>  <dd>{{selectedService.specification.transportType}}</dd>
                    <dt>provider</dt>        <dd>{{selectedService.provider.title}}</dd>
                    <dt>provider website</dt><dd class="truncated"><a target="_blank" href="{{selectedService.provider.url}}">{{selectedService.provider.url}}</a></dd>
                    <dt>description</dt>     <dd>{{selectedService.description}}</dd>
                    <dt>Endpoints:</dt>
                    <dt ng-repeat-start="endpoint in selectedService.endpoints"></dt>
                    <dd ng-repeat-end class="truncated"><a target="_blank" href="{{endpoint.urn}}">{{endpoint.urn}}</a></dd>
                </dl>
            </div>
        </div>

        <!--MAP-->
        <leaflet id="searchmap" markers="markers" zoomControl="true" event-broadcast="events" defaults="map.defaults" paths="map.paths" >

            <!--MOUSE POSITION & DISTANCE-->
            <div class="map-info-box bottomright">
                <!--<div>LatLng: {{filterLocation | latlng2dms:'lat, lng':'D04'}}</div>-->
                <!--<div>DMS: {{filterLocation | latlng2dms}}</div>-->
                {{mouseLocation| latlng2dms:'lat lng':"d2 M23i":"d3 M23i"}}
                <div ng-if="markers.filterLocation">
                    {{distance| distance}} ({{distance| distance:'nm'}}) from mark 
                </div>
            </div>
        </leaflet>
    </div>
</div>